html body {
    color: #1f1f1f;
    background-color: #9c9c9c;
}

header {
    background-color: #c2c2c2;
}

main {
    background-color: #c2c2c2;
}

footer {
    background-color: #5e5e5e;
}

a {
    color: #1f1f1f;
}

button {
    color: #1f1f1f;
    background-color: #d3d3d3;
    border-color: #353535;
}

button:hover {
    background-color: #a8a8a8;
}
  
button:active {
    padding: 4px;
    background-color: rgb(41, 41, 41);
    color: white;
}

#input-placeholder {
    background-color: #d8d8d8;
}

#search-href {
    background-image: url("../assets/light-search.png");
}

#theme-href {
    background-image: url("../assets/light-theme.png");
}

#account-href {
    background-image: url("../assets/light-profile.png");
}