body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: rgba(0, 0, 255, 0) !important;
    border: 0 !important;
    border-color: rgba(0, 0, 0, 0) !important;
    padding: 0 !important;
}

main {
    height: 188px;
    width: 300px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#Label-placeholder {
    margin-left: 10px;
    margin-right: auto;
    margin-bottom: 20px;
    position: relative;
    transition: background-color 1.5s, color 0.5s;
}

#input-placeholder {
    padding: 10px;
    border-radius: 5px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transition: background-color 1.5s, color 0.5s;
}

#input-placeholder * {
    margin-bottom: 5px;
    transition: background-color 1.5s, color 0.5s;
}

#input-placeholder input{
    width: 170px;
    position: absolute;
    right: 10px;
}

#button-placeholder {
    padding: 10px;
    border-radius: 5px;
    width: 280px;
    margin-top: 0vh;
    margin-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#button-placeholder button {
    width: 145px;
    
    display: inline;
}

#trouble-login {
    padding: 10px;
    border-radius: 5px;
    width: 280px;
    margin-top: 0vh;
    margin-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#trouble-login button {
    width: 145px;
    position: absolute;
    right: 0;
}

.left {
    position: absolute;
    left: 0;
}
.right {
  position: absolute;
  right: 0;
}

#hidden-button.right {
    position: absolute;
    right: 0px;
    top: 0px
}