@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&family=Roboto+Condensed:wght@300;400;500&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
.usefont {
  font-family: "Roboto Condensed", sans-serif;
}

button {
  font-family: "Roboto Condensed", sans-serif;
  font-size: small !important;
}

.larger {
  font-size: larger;
}

.large {
  font-size: large;
}

.medium {
  font-size: medium;
}

.small {
  font-size: small;
}

.smaller {
  font-size: smaller;
}